# N8N
N8N_BASIC_AUTH_USER=your_user
N8N_BASIC_AUTH_PASSWORD=your_password
N8N_ENCRYPTION_KEY=your_encryption_key

# TELEGRAM
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# DOMAIN
WEBHOOK_URL=https://your-domain.duckdns.org

# SSH
SSH_HOST=host.docker.internal
SSH_USER=ony
SSH_KEY_PATH=/home/node/.ssh/id_rsa